<section>
  <div class="content">
    <h1>لنبدأ اللعب اختر لعبتك</h1>
    <div class="games">
      <a class="game" href="https://rteem12.itch.io/creative" target="_blank">
        <div class="imgBx">
          <img src="assets/images/sections/2-2.png" alt />
        </div>
        <h2>عقول مبدعة</h2>
      </a>
      <a class="game" href="https://rteem12.itch.io/mmk" target="_blank">
        <div class="imgBx">
          <img src="assets/images/sections/1-2.png" alt />
        </div>
        <h2>عقول مبدعة 3D</h2>
      </a>
    </div>
  </div>
</section>
